<!DOCTYPE html>
<html>
<head>
	<title>Arrow Buttons</title>
	<style>
		.arrow {
			display: inline-block;
			width: 50px;
			height: 50px;
			background-color: gray;
			color: white;
			font-size: 30px;
			text-align: center;
			line-height: 50px;
			border-radius: 50%;
			margin: 10px;
			cursor: pointer;
		}
	</style>
</head>
<body>
	<button>
		<button class="arrow" id="left">&#8592;</button>
		<button class="arrow" id="up" >&#8593;</button>
		<button class="arrow" id="right" >&#8594;</button>
		<button class="arrow" id="down" >&#8595;</button>
	</button>
</body>
</html>

<script>

  document.getElementById("left").addEventListener("click", function() {
    const xhr = new XMLHttpRequest();
    xhr.addEventListener("clicked", function() {

    });
    xhr.open("POST", "http://127.0.0.1:5000");
    xhr.setRequestHeader("Content-Type", "application/json");
    const data = {word: "left"};
    xhr.send(JSON.stringify(data));
  });
</script>

