<!DOCTYPE html>
<html>
<head>
	<title>Arrow Buttons</title>
	<style>
		.arrow {
			display: inline-block;
			width: 50px;
			height: 50px;
			background-color: gray;
			color: white;
			font-size: 30px;
			text-align: center;
			line-height: 50px;
			border-radius: 50%;
			margin: 10px;
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div>
		<div class="arrow">&#8592;</div>
		<div class="arrow">&#8593;</div>
		<div class="arrow">&#8594;</div>
		<div class="arrow">&#8595;</div>
	</div>
</body>
</html>
